.profile-card {
    margin-top: 2%;
}

.thrash {
    display: inline-block;
    width: 5%;
    text-align: center;
    align-items: center;
}

.thrash button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.thrash img {
    width: 80%;
    vertical-align: middle;
}