#addresses {
    display: inline-block;
    margin-left: 5%;
    width: 60%;
}

.profile-card {
    margin-top: 2%;
    border: 1px solid grey;
    box-shadow: var(--sombra);
    border-radius: 5px;
}

.thrash {
    display: inline-block;
    width: 5%;
    text-align: center;
    align-items: center;
}

.thrash button {
    background-color: white;
    border: none;
}

.thrash button:hover {
    cursor: pointer;
}

.thrash img {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}