@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

:root {
    --azul: #105EDD;
    --azul-escuro: #0B3075;
    --azul-claro: #58ACF4;
    --preto: #333;
    --amarelo: rgb(255, 213, 0);
    --vermelho: #c8472c;
    --sombra: 1px 1px 5px lightgrey;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex; 
    min-height: 90vh;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

textarea:focus, input:focus{
    outline: none;
}

.content {
    width: 80vw;
    min-height: 70vh;
    min-width: 760px;
    margin: 2% 10%;
}

/* Estruturas gerais */ 
.info-container {
    display: inline-block;
    padding: 10px;
    margin-left: 5%;
    width: 60%;
}

.info-container a {
    float: right;
    margin: 2%;
    background-color: white;
    border-style: none;
    font-size: 1em;
    cursor: pointer;
}

.b-shadow {
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: var(--sombra);
}