#pwd-container {
    display: inline-block;
    width: 60%;
    margin-left: 5%;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: var(--sombra);
}

#pwd-container input {
    width: 90%;
}

#pwd-container button {
    margin: 5%;
    background-color: white;
    border-style: none;
    font-weight: 700;
    font-size: 1.2vw;
    padding: 5px;
    float: right;
}

#pwd-container button:hover {
    cursor: pointer;
    text-shadow: 0 0 black;
}