.row {
    background-color: var(--azul);
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
}

.footer-col {
    padding: 10px;
}