.footer {
    margin-top: auto;
    width: 100%;
    background-color: var(--azul);
    color: white;
    font-size: 14px;
}

.footer div {
    display: table-cell;
}

.footer .container {
    display: block;
    margin: 0 auto;
    width: 90vw;
}

.footer .row {
    width: 100vw; 
}

.footer-col-1, .footer-col-2, .footer-col-3 {
    width: 33.33%;
    padding: 10px 20px;
    margin: 0 auto;
}

.content-container {
    width: 80vw;
    margin: 2% 10%;
}