.form-input {
    padding: 20px;
    width: 100%;
}

.form-input input {
    display: block;
    width: 90%;
    margin-top: 1%;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 8px;
}

@media (max-width: 960px) {
    .form-input {
        display: flex;
        flex-direction: column;
    }
    
    .form-input input {
        width: 100%;
    }
}
