.productCard {
    display: inline-block;
    width: 20%;
    margin: 1% 2%;
    border-radius: 20px;
    border: 1px solid #cdcdcd;
    box-shadow: var(--sombra);
    text-align: center;
}

.prod-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prod-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productImage {
    width: 60%;
    margin: 7% auto;
    height: 90%;
    display: flex;
    justify-content: center;
}

.productImage img {
    max-height: 100%;
    width: 100%;
    align-self: center;
}

.productCard h3 {
    font-size: 1.1vw;
    margin: 5%;
    padding: 1%;
} 

.productCard h2 {
    font-size: 2vw;
    font-weight: 700;
    color: #F8DE3C;
    padding: 3%;
    margin-bottom: 5%;
}

@media (max-width: 960px) {
    .productCard {
        display: flex;
        flex-direction: column;
        border: none;
        border-radius: 0;
        border-top: var(--mobile-border);
        padding: 10px;   
        width: 100%;
        height: 250px;
        justify-content: space-around;
    }

    .prod-row {
        display: flex;
        flex-direction: column;
    }

    .prod-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .productImage {
        width: 100%;
        height: 70%;
        min-width: 115px;
        max-width: 200px;
    }

    .prod-row img {
        width: 80%;
    }

    .np-container {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .prod-row h3 {
        font-size: 1.2rem;
    } 

    .prod-row h2 {
        font-size: 1.6rem;
    } 
}

@media (max-width: 480px) {
    .productCard {
        height: 15%;
        max-height: 200px;
        min-height: 160px;
    }

    .productImage {
        width: 30%;
        min-width: 90px;
    }

    .productImage img {
        width: 100%;
    }
    
    .productCard h3 {
        font-size: 0.9rem;
    } 

    .productCard h2 {
        font-size: 1.2rem;
    } 
}