#profile-options {
    float: left;
    width: 200px;
    margin-top: auto;
    text-align: center;
}

#top-nav {
    border-radius: 5px 5px 0 0;
}

#bottom-nav {
    border-radius: 0 0 5px 5px;
}

#profile-options a {
    display: block;
    padding: 10px 10px;
    border: 1px solid grey;
}

#profile-options a:focus {
    border: 2px solid var(--amarelo);
}