.info-col {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
}

.row-titles {
    text-align: center;
    padding-top: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid black;
    background-color: rgb(231, 231, 231);
}

.info-row {
    border-bottom: 1px solid lightgrey;
    text-align: center;
    width: 100%;
}