.signup-row {
    display: flex;
    flex-direction: row;
}

.sign-col {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.signup-container {
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: var(--sombra);
    width: 80%;
    margin: 10%;
    display: inline-block;
}

.signup-button{
    padding: 20px;
    width: 50%;
    /* height: auto; */
    position: relative;
}

.signup-button button{
    text-align: center;
    width: 40%;
    padding: 8px;
    
    border-radius: 5px;
    border: 1px solid grey;

    background-color: #F8DE3C;
    color: white;

    position: absolute;
    bottom: 20px;
    right: 20px;
}

.signup-container h1{
    margin: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid gray;     
}

@media (max-width: 960px) {
    .sign-col {
        /* display: inline-block; */
        flex-direction: column;
        width: 90%;
    }

    .signup-row {
        /* display: inline-block; */
        flex-direction: column;
    }
    
    .signup-button button {
        padding: 10px;
        position: unset;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .signup-container{
        text-align: center;
    }

    .signup-field input{
        text-align: center;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}