.info-container input[type=text] {
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 2%;
    padding: 5px;
    width: 98%;
}

.pc-table {
    display: block;
}

.selected {
    border: 2px solid var(--vermelho);
}

.mobile-table {
    display: none;
}

@media (max-width: 560px) {
    .mobile-table {
        display: flex;
    }

    .pc-table {
        display: none;
    }
}