@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
@import url("../media/Treasuremap.woff2");

:root {
    --azul: #105EDD;
    --azul-escuro: #0B3075;
    --azul-claro: #58ACF4;
    --preto: #333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#logo {
    width: 6vw;
    margin: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

nav {
    flex: 1;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    width: 100%;
    min-width: 297px;
}

nav ul li {
    display: inline-block;
    margin: auto 5%;
    vertical-align: middle;
}

input[type="text"], input[type="password"]{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.navbar-top{
    display: flex;
    width: 100%;
    height: 7vw;
    padding-left: 2%;
    background-color: var(--azul-escuro);
    align-items: center;
    vertical-align: center;
    color: white;
}

.navbar-top h1 {
    padding-left: 1%;
    letter-spacing: 2px;
    font-family: 'Treasuremap', cursive;   
    font-size: 2.5vw;
}

.navbar-top img {
    justify-content: center;
}


.search-box {
    width: 38vw;
    min-width: 170px;
    margin-left: 30px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    display: flex;
}

.search-box input[type="text"] {
    width: 98%;
    border: none;
    float: left;
}

.search-box img {
    width: 25px;
    float: right;
}

.navbar-top nav {
    text-align: center;
}

.navbar-bottom{
    display: flex;
    width: 100%;
    height: 3vw;
    padding-left: 40px;
    background-color: var(--azul-claro);
    align-items: center;
    vertical-align: middle;
}

.navbar-bottom nav {
    text-align: left;
}

.navbar-bottom ul {
    font-size: 1.3vw;
    width: 50vw;
}

.navbar-bottom li {
    text-align: left;
}

.footer {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    background-color: var(--azul);
    color: white;
    font-size: 14px;
}

.footer div {
    display: table-cell;
}

.footer .container {
    display: block;
    margin: 0 auto;
    width: 90vw;
}

.footer .row {
    width: 100vw; 
}

.footer-col-1, .footer-col-2, .footer-col-3 {
    width: 33.33%;
    padding: 10px 20px;
    margin: 0 auto;
}

.content-container {
    width: 80vw;
    margin: 2% 10%;
}

.product-series {
    text-align: center;
}

.product-series h1 {
    margin-top: 4%;
    margin-bottom: 1%;
    font-weight: 900;
}

.product-box {
    display: inline-block;
    width: 20%;
    margin: 1% 2%;
    border-radius: 20px;
    border: 1px solid #cdcdcd;
    box-shadow: 1px 2px 5px #cdcdcd;
    text-align: center;
}

.product-image {
    width: 60%;
    margin: 7% auto;
}

.product-box img {
    width: 100%;
}

.product-box h3 {
    font-size: 1.1vw;
    margin: 5%;
    padding: 1%;
} 

.product-box h2 {
    font-size: 2vw;
    font-weight: 700;
    color: #F8DE3C;
    padding: 3%;
    margin-bottom: 5%;
}