@font-face {
    font-family: 'RobotoS';
    src: url('../font/RobotoSlab.woff') format('woff');
}

:root {
    --azul: #105EDD;
    --azul-escuro: #0B3075;
    --azul-claro: #58ACF4;
    --preto: #333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

nav {
    flex: 1;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    width: 100%;
    min-width: 297px;
}

nav ul li {
    display: inline-block;
    margin: auto 5%;
    vertical-align: middle;
}

input[type="text"], input[type="password"]{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.navbar-top{
    display: flex;
    width: 100%;
    height: 5vw;
    padding-left: 2%;
    background-color: var(--azul-escuro);
    align-items: center;
    vertical-align: center;
    color: white;
}

.navbar-top h1 {
    padding-left: 3%;
    letter-spacing: 2px;
    font-size: 2.5vw;
}

.navbar-top img {
    justify-content: center;
}

.navbar-top input[type="text"] {
    width: 32vw;
    min-width: 170px;
    margin-left: 30px;
}

.navbar-top nav {
    text-align: center;
}

.navbar-bottom{
    display: flex;
    width: 100%;
    height: 3vw;
    padding-left: 40px;
    background-color: var(--azul-claro);
    align-items: center;
    vertical-align: middle;
    margin-bottom: 60px;
}

.navbar-bottom nav {
    text-align: left;
}

.navbar-bottom ul {
    font-size: 1.3vw;
    width: 50vw;
}

.navbar-bottom li {
    text-align: left;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--azul);
    color: white;
    font-size: 14px;
}

.footer div {
    display: table-cell;
}

.footer .container {
    display: block;
    margin: 0 auto;
    width: 100vw;
}

.footer .row {
    width: 100vw; 
}


.footer-col-1, .footer-col-2, .footer-col-3 {
    width: 33.33%;
    padding: 10px 20px;
    justify-items: auto;
    margin: 0 auto;
}

#logo {
    width: 5vw;
    margin: auto;
    vertical-align: middle;
}